.width-100 {
    width: 100%;
    text-align: center;
}

.f-170 {
    float: left;
    max-width: 170px;
    width:100%
}

.f-440 {
    display: inline-block;
    margin: 0 auto;
    max-width: 440px;
    width:100%
}

.f-200 {
    float: right;
   max-width: 200px;
   width:100%
}

.map-nav {
    display: flex;
    justify-content: end;
}
